body {
    background-color: white;

	.main-design {
		display: flex;
		justify-content: center;
		align-items: center;
		//height: 250px;
		width: 400px;
		//flex-wrap: wrap;
		margin: 0 auto;
	}
    
    .mt--closebtn
    {
         margin-left: -321px;
    }
	.module-container{
		// position: absolute;
    // top: 228px;
    // width: 500px;
	}

}