body{
	margin: 0;
	padding: 0;
}
@keyframes zoom-in-zoom-out {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.2, 1.2);
	}
	100% {
	  transform: scale(1, 1);
	}
}
@keyframes mymove {
	from {top: -50px;}
	to {top: 60px;}
  }

.main-wrappers{

	position: fixed;
	height: 200px;
	width: 250px;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -2px 5px 5px rgb(96, 70, 60);
	background-color: transparent;
	 background-color:rgba(black,0.2);
	 display: flex;
	justify-content: center;
	
	

	align-items: center;

	.content-wrapper{

		position: relative;
		
		width: 387px;
		height:210px;
	
	}
.popmsg{
	color:#9F6031;
	font-family: 'Fredoka One';
	font-size:medium;
          
}
    //color: #9F6031;
	.popup-x
    {
    border-radius:50%;
    margin-left:85%;
	color: red;
	border: none;
	outline: none;
	cursor: pointer;
}
    .nextlevel{
		//animation: zoom-in-zoom-out  3s ease infinite;
	

	.content-container{
		text-align: center;
		

		.popmsg{
			//background-color:rgb(250, 235, 215); 
			color:black;
			font-weight: 600;

			
		

		}

		.image{
			width: 50px;
			height: 50px;
		}
		.popupans{
			display: flex;
			justify-content: center;
			align-items: center;
			color:green;

			
			

		}
		.width{
			width: 50px;
			height: 50px;
		}

	}
}
	
}

